body {
    margin: 0px;
    background-color: #353A34;
    /* background-color: rgb(64, 64, 64); */
    /* background-color: black; */

    /* background-color:; */
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans 3', sans-serif;
    -webkit-text-size-adjust: 100%;
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    align-items: baseline;
    width: 90%;
    min-width: 894px;

}

#header-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style: none;
    max-width: 300px;
    min-width: 260px;
    font-size: 20px;
}

#header-list:hover {
    cursor:grab;
}

.proj-name:hover, .proj-subheading:hover, .proj-img-container:hover{
    cursor:pointer;
}

#my-name {
    font-size: 50px;
    padding: 10px;
    border-style: solid;
    border-color: white;
    /* letter-spacing: .5rem; */
}

li { 
    transition: all .4s ease-in-out; 
}

li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

#blackhole:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'The Beardy Display';
    src: url("resources/fonts/webfontkit-the-beardy-display/the_beardy_display-webfont.woff") format("woff");
}

@font-face {
    font-family: 'OCR A';
    src: url("resources/fonts/webfontkit-OCR-A/ocr_a_std_regular-webfont.woff") format("woff");
}

#about-me{
    padding-right: 20px;
    /* padding-left: 75px; */
    font-size: 20px;
    min-width: 507px;
    width: 66%;
    flex: 1;
}

#about-me-long{
    padding: 20px;
    padding-left: 75px;
}

#about-me-container{
    display: flex;
    height: 550px;
    width: 90%;
    margin: auto;
    margin-bottom: 60px;

}

#about-me-long-container{
    display: flex;
    /* max-height: 1100px; */
    height: auto;
    max-width: 100%;
    align-items: flex-start;
    width:90%;
    margin: auto;
}

#crop-container {
    width: 33%;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

#crop-container-2 {
    width: 33%;
    overflow: hidden;
    margin-top: 20px;
    /* object-fit: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden; */
}

#headshot{
    height: auto;
    object-position: top;
    margin-left: -250px;
    margin-bottom: -280px;
    transform: scale(0.60); 
}

#headshot-2{
    height: auto;
    object-position: top;
    /* margin-left: -80px;
    margin-bottom: -100px; */

    margin-left: -80px;
    margin-top: -100px;

    /* transform: scale(0.80);  */
}

#headshot-space{
    min-width: 75px;
}

#resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;

}

#resume {
    flex:1;
    width: 100%;
}

#proj-flex{
    display: flex;
    justify-content: center;
}

#project-container {
    width: 60%;
}

#project-container-index {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.proj-img-container{
    max-height: 275px;
    max-width: 275px;
    background-color: #353A34;
    border-style: solid;
    border-color: #353A34;
    overflow:visible;
}

.extra-div{
    width: 45%;
}

#calculator-img{
    max-height: 275px;
    /* max-width: 100%; */
    width: auto;
}

.underline{
    text-decoration: underline;
}

hr {
    display: none;
}

#doggy{
    font-size: 80px;
    width: 90%;
    text-align: center;
    margin: auto;
}

/* .center-wrap{
    display: none;
} */

.show{
    display: block;
    width:90%;
}

.calc-container img{
    object-fit: contain;
    width: 100%;    
    background-color: black;
}

.proj-img-container img{
    width: 100%;
    height: auto;

}

.center-wrap{
    display: flex;
    justify-content: center;
}

#icd-logo-container {
    background-color: #FAFCE7;
    /* padding: 10px; */
}

#icd-logo {
/* padding: 5px; */
transform: scale(0.84); 
}

/* #resume-container-embed {
    display: none;
} */

#projects-header-text {
    font-size: 20px;
    margin-left: 72px;
}

.header-text {
    font-size: 80px;
    /* margin-left: 73px;
    margin-top: 19px; */
}

.proj {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    /* align-items: center; */
    /* font-family: 'OCR A'; */
}

#search-engine-img{
    object-fit: contain;
    background-color: black;
}

.proj-index{
    margin-bottom: 60px;
}

.proj-name:hover {
text-decoration: underline;
transition: all .4s ease;
}

.proj-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 34px;
}

.proj-subheading{
    margin-top: 0px;
    font-size: 24px;
}

.proj-subheading:hover{
    text-decoration: underline;
}

.proj-summary{
    font-size: 20px;
    /* flex: 1; */
    /* margin-right: 20px; */
    width: 45%;
    text-align: right;
}

.proj-description {
    font-size: 20px;
}

#covid-19-repo{
    text-decoration: underline;
}

#read-more {
    display: flex;
    height: 40px;
    width: 150px;
    color: white;
    border-style: solid;
    border-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;

}

#read-more:hover {
    background-color: white;
    border-color:  black;
    color:  black;
    transition: all .4s ease;
}

#more-projects {
    font-size: 20px;
    display: flex;
    height: 40px;
    width: 150px;
    color: white;
    border-style: solid;
    border-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}

#more-projects:hover {
    color: black;
    background-color: white;
}

#projects-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

hr {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    display: none;
}

#last-proj-on-index {
    margin-bottom: 20px;
}

footer {
    height: 50px;
    width: 100%;
    margin-top: auto;
}

#my-initials {
    display: none;
}



@media screen and (max-width: 481px){

#my-initials {
    display: block;
    font-size: 34px;
}

#my-name {
    margin-bottom: 10px;
    text-align : center;
    font-size: 25px;
}

/* header-text {
    margin:auto;
} */


#about-me-container {
    flex-direction: column;
    font-size: 10px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 0px; 

}

#about{
    text-align: center;
}

#project-container-index {
    width: 90%;
}

#about-me{
    width: 100%;
    padding: 0px;
    min-width: 0;
    margin: auto;


}

#about-me-long-container{
    height:auto;
    display: block;
}

#about-me-text{
    width:90%;
    margin: auto;
}

#read-more{
    margin:auto
}

#crop-container {
    width: 100%;
    height: 300px;
    display: none;
}

#project-container{
    width: 100%;
}

.proj{
    flex-direction: column;
    margin-bottom: 20px;
    
}

.proj-summary {
    flex-direction: column;
    margin: auto;
    width: 85%;
    text-align: left;
}

.proj-name{
    text-align: center;
}

.proj-subheading{
    text-align: center
}

.proj-description {
    /* text-align: justify; */
}

.extra-div {
    width: 70%;
    margin: auto;
}

/* .proj-description {
    display: none;
} */
/* 
h1 #highlights{
    font-size: 100px;
} */



header {
    flex-direction: column;
    margin: auto;
    width: 95%;
    margin-top:10px;
    align-items: center;
    min-width: 0;
    margin-bottom: 0px;


}

#header-list {
    padding-left: 0px;
    margin: 0px;
}

hr {
    width: 90%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    display: block;
}

#crop-container-2 {
    display: none;

}

#resume {
    /* transform: scale(0.3);
    align-self: flex-start; */
}


#resume-container{
    margin-top: 0px;
    margin-bottom: 0px;
}

/* #resume-container-embed{
    display: block;
} */

}