body {
    margin: 0px;
    background-color: #647b7d;
    color: white;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    font-family: "EB Garamond", serif;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    min-width: 1055px;
}


header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    align-items: baseline;
    width: 90%;
    min-width: 894px;

}

.projects-header-height{
    margin-bottom:40px; 
}

#header-list { 
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style: none;
    max-width: 300px;
    min-width: 260px;
    font-size: 20px;
}

#header-list:hover {
    cursor:grab;
}

.proj-name:hover, .proj-subheading:hover, .proj-img-container:hover{
    cursor:pointer;
}

#my-name {
    max-width: 577px;
    font-size: 75px;
    padding: 10px;
    border-style: none;
    letter-spacing: .3rem;
    font-family: "futurand-bold";
    /* font-weight: 400; */
    font-style: normal;
}

li { 
    transition: all .4s ease-in-out; 
}

li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

#blackhole {
    text-decoration: underline;
}

#blackhole:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'The Beardy Display';
    src: url("resources/fonts/webfontkit-the-beardy-display/the_beardy_display-webfont.woff") format("woff");
}

@font-face {
    font-family: 'OCR A';
    src: url("resources/fonts/webfontkit-OCR-A/ocr_a_std_regular-webfont.woff") format("woff");
}

@font-face {
    font-family: 'Luminari';
    font-style: normal;
    font-weight: normal;
    src: local('Luminari'), url('Luminari-Regular.woff') format('woff');
    }

@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('brandon_reg-webfont.woff2') format('woff2'),
    url('brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
    }

@font-face {
    font-family: 'futurand-bolduploaded_file';
    src: url('futura-nd-bold-webfont.woff2') format('woff2'),
            url('futura-nd-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minion_procaption';
    src: url('minionpro-capt-webfont.woff2') format('woff2'),
         url('minionpro-capt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.eb-garamond-2 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.paragraph-text{
    font-family: 'minion_procaption';
}

#about-me{
    padding-right: 20px;
    font-size: 20px;
    min-width: 507px;
    max-width: 500px;
    min-width: 500px;
    flex: 1;
}

.icon{
    width: 30px;
    margin: 7px;
    margin-top: 20px;
    display: inline;
    border-radius: 10%;
}

#linkedin{
    background-color: white;
}

#github{
margin-left: 0px;
}

#about-me-long{
    padding: 20px;
    padding-left: 75px;
}

#about-me-container{
    display: flex;
    height: 525px;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    /* margin-bottom: 60px; */

}

#about-me-long-container{
    display: flex;
    height: auto;
    max-width: 100%;
    /* align-items: center; */
    /* width:90%; */
    justify-content: center;
    margin: auto;
}

#crop-container {
    width: 430px;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

#crop-container-2 {
    width: 33%;
    height: 666px;
    overflow: hidden;
    margin-top: 20px;
}

#headshot{
    height: auto;
    object-position: top;
    margin-left: -250px;
    margin-bottom: -175px;
    transform: scale(0.60); 
}

#headshot-2{
    width: 100%;
    object-position: top;
    /* margin-left: -80px;
    margin-top: -100px; */
}

#headshot-space{
    min-width: 75px;
}

#resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;

}

#resume {
    flex:1;
    width: 100%;
}

#proj-flex{
    display: flex;
    justify-content: center;
}

#project-container {
    width: 60%;
}

#project-container-index {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.proj-img-container{
    max-height: 275px;
    max-width: 275px;
    background-color: #647b7d;
    border-style: solid;
    border-color: #647b7d;
    overflow:visible;
}

.extra-div{
    margin-top: 10px;
    width: 45%;
}

#calculator-img{
    max-height: 275px;
    width: auto;
    align-self: center;
}

#calc-flex{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.underline{
    text-decoration: underline;
}

hr {
    display: none;
}

#doggy{
    font-size: 80px;
    width: 90%;
    text-align: center;
    margin: auto;
}

.show{
    display: block;
    width:90%;
}

.calc-container img{
    object-fit: contain;
    width: 100%;    
    background-color: black;
}

.proj-img-container img{
    width: 100%;
    height: auto;

}

.center-wrap{
    display: flex;
    justify-content: center;
}

#icd-logo-container {
    background-color: #FAFCE7;
    /* padding: 10px; */
}

#icd-logo {
/* padding: 5px; */
transform: scale(0.84); 
}

/* #resume-container-embed {
    display: none;
} */

#projects-header-text {
    font-size: 20px;
    margin-left: 72px;
}

.header-text {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 45px;
    /* margin-left: 73px;
    margin-top: 19px; */
}

.proj {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    /* align-items: center; */
    /* font-family: 'OCR A'; */
}

#search-engine-img{
    object-fit: contain;
    background-color: black;
}

.proj-index{
    margin-bottom: 60px;
}

.proj-name:hover {
text-decoration: underline;
transition: all .4s ease;
}

.proj-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 34px;
}

.proj-subheading{
    margin-top: 0px;
    font-size: 24px;
}

.proj-subheading:hover{
    text-decoration: underline;
}

.proj-summary{
    font-size: 20px;
    width: 45%;
    text-align: right;
}

.proj-description {
    font-size: 20px;
}

#covid-19-repo{
    text-decoration: underline;
}

.trans-button{
    transition: all .4s ease;
}

.trans-button:hover{
    background-color: white;
    border-color:#353A34;
    color:#353A34;
    transition: all .4s ease;
}

#read-more {
    display: flex;
    height: 30px;
    width: 100px;
    color: white;
    border-style: solid;
    border-color: white;

    justify-content: left;
    transition: all .4s ease;
    border-width: 0px;

}

#read-more:hover {
    /* background-color: white; */
    border-color:  #647b7d;
    color:  #acd9dd;
    transition: all .4s ease;
}

#more-projects {
    font-size: 20px;
    display: flex;
    height: 40px;
    width: 150px;
    color: white;
    border-style: solid;
    border-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}

#more-projects:hover {
    color: black;
    background-color: white;
}

#projects-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

hr {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    display: none;
}

#last-proj-on-index {
    margin-bottom: 20px;
}

footer {
    height: 50px;
    width: 100%;
    margin-top: auto;
}

#my-initials {
    display: none;
}

/* .crop-container-mobile{
    display:none
} */

@media screen and (max-width: 481px){

    .crop-container-mobile{
        display:flex;
        height: 300px;
    }

body{
    min-width: 0% ;
}    

#my-initials {
    display: block;
    font-size: 34px;
}

#my-name {
    margin-bottom: 10px;
    text-align : center;
    font-size: 25px;
    font-family: "futurand-bold";
}

.header-text {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#doggy{
    font-size: 60px;
    margin-bottom: 0px;
}

#about-me-container {
    flex-direction: column;
    font-size: 10px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 0px; 
    margin-bottom: 30px;

}

#about{
    text-align: center;
}

#project-container-index {
    width: 90%;
}

#about-me{
    width: 100%;
    padding: 0px;
    min-width: 0;
    margin: auto;


}

#about-me-long-container{
    height:auto;
    display: block;
}

#about-me-text{
    width:90%;
    margin: auto;
}

#read-more{
    margin:auto
}

#crop-container {
    width: 100%;
    height: 300px;
    display: none;
}

#project-container{
    width: 100%;
}

.proj{
    flex-direction: column;
    margin-bottom: 20px;
    
}

.proj-summary {
    flex-direction: column;
    margin: auto;
    width: 85%;
    text-align: left;
}

.proj-name{
    text-align: center;
}

.proj-subheading{
    text-align: center;
    margin-bottom: 0px;
}

.proj-description {
    margin-top: 0px;
    margin-bottom: 15px;
}

.extra-div {
    width: 70%;
    margin: auto;
}

header {
    flex-direction: column;
    margin: auto;
    width: 95%;
    margin-top:10px;
    align-items: center;
    min-width: 0;
    margin-bottom: 0px !important;
}

#about-me-text {
    margin-bottom: 30px
}

#header-list {
    padding-left: 0px;
    margin: 0px;
}

hr {
    width: 90%;
    margin: auto;
    margin-top:8px;
    margin-bottom: 10px;
    display: block;
}

#crop-container-2 {
    display: none;

}

#resume-container{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 99%;
}

#less-margin{
    margin-top: 2px;
}

.proj-divider{
    width: 80%;
}

#icons{
    width: 39%;
    margin: auto;
}

#github{
    margin-left: 0px;
}

#linkedin{
    margin-right: 0px;
}

}